<div class="form" id="form">
  <h2>Login</h2>
 
  <form action="/login" method="POST">
 
    <label>
      <input class="form-input" type="email" name="email" placeholder="Email" />
    </label>
 
    <label>
      <input class="form-input" type="password" name="password" placeholder="Password" />
    </label>
 
    <button class="submit-input" type="submit">Login</button>
     <a class="already" href="/signup">Don't have an account ?    <strong>Sign Up </strong> </a>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>