<div class="form" id="form">
  <h2>Sign up</h2>
  <form action="/signup" method="POST">
 
    <label>
      <input class="form-input" type="text" name="username" placeholder="Username" />
    </label>
 
    <label> 
      <input class="form-input" type="email" name="email" placeholder="Email" />
    </label>
 
    <label> 
      <input class="form-input" type="password" name="password" placeholder="Password" />
    </label>
 
    <button class="submit-input" type="submit">Create account</button>

    <a class="already" href="/login">Already have an account ?    <strong>Login</strong> </a>
 
      {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  
  </form>
</div>
