body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(26, 27, 40);
}

.nav-bar {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin: 0px;
  top: 0;
  left: 0;
  width: 100%;
  position: sticky;
}

#game-test {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#canvas-side {
  width: 50%;
  height: 600px;
}

#game-description {
  background-color: rgb(0, 255, 89);
}

#game-test {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#canvas-side {
  width: 50%;
  height: 600px;
}

#comment-side {
  width: 25%;
  height: 50%;
}

#game-description {
  background-color: rgb(0, 255, 89);
}

a {
  color: rgb(164, 142, 255);
  text-decoration: none;
  font-size: 1.5em;
}

.submit-input {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: rgb(164, 142, 255);
}

form {
  margin: 30px auto;
  width: 380px;
}

.form {
  border: 1px solid rgb(40, 41, 61);
  border-radius: 10px;
  margin: 60px auto;
  max-width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.already {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: white;
  font-size: 12px;
}

#middle {
  text-align: center;
  position: relative;
  right: 100px;
  bottom: 10px;
}

.center-input input {
  padding: 10px 120px;
  background-color: rgb(40, 41, 61);
  border: 2px solid rgb(40, 41, 61);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.already strong {
  text-align: center;
  color: rgb(164, 142, 255);
  margin-left: 5px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.form-input {
  padding: 15px;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: rgb(40, 41, 61) !important;
  color: white;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form ::placeholder {
  color: rgb(177, 177, 177);
  text-align: left;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* NAV BAR */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: rgb(26, 27, 40);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.logo img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.search {
  flex: 1;
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
}

.search input[type="text"] {
  width: 60%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: rgb(40, 41, 61);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.buttons {
  margin-top: 14px;
}

.buttons a {
  margin-left: 10px;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: rgb(164, 142, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.buttons a:hover {
  background-color: #ddd;
}

.buttons button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #eee;
  color: #333;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ddd;
}

#logout-form button {
  width: 120px;
  height: 41px;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(225, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 16px;
}
/* END OF NAV BAR */
h2 {
  color: rgb(164, 142, 255);
}

#form h2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
  font-size: 35px;
}

#logout-form {
  display: inline;
}

.game-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
  padding: 1.5% 10%;
  align-items: center;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

#start-button {
  width: 350px;
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#start-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

#start-button:hover:after {
  transform: translate(0, 0);
}

#start-button:active {
  background-color: #ffdeda;
  outline: 0;
}

#start-button:hover {
  outline: 0;
}

/*ALL GAME PAGE*/

#game-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 6vh;
}

#game-selection img {
  width: 100%;
  height: auto;
  display: block;
}

#game-selection h3 {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
}

#game-selection a {
  display: block;
  text-align: center;
  margin-top: 5px;
}

/* --------------------- */

/* section for the Display of unique game page */

.img-logo {
  height: 190px;
}

#contour {
  display: flex;
  justify-content: space-around;
}

.contour {
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(4, 4, 4);
  height: 420px;
  width: 661px;
  /* padding-top: -9px; */
  /* padding-bottom:  12px; */
  margin-top: 1em;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
}

.side {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.061);
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  height: 490px;
  width: 250px;
  justify-content: space-around;
}

.logo-img {
  width: 350px;
}

.description {
  background-color: rgb(26 27 40);
  border: 1px solid rgb(4, 4, 4);
  height: 220px;
  width: 540px;
  /* padding-top: -9px; */
  /* padding-bottom:  12px; */
  margin-top: -3em;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  margin-left: 50vh;
}

/* section for the comment */

@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");

#comment {
  background-image: linear-gradient(
    to top,
    rgba(205, 156, 242, 0.4) 0%,
    rgba(246, 255, 255, 0.71) 100%
  );
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  text-align: center;
  margin-top: 1em;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.95);
  height: 550px;
  width: 250px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#comment label {
  /* background: url(https://static.pexels.com/photos/5782/nature-flowers-vintage-plant.jpg); */
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
  /* background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
  font-family: "Playfair Display", serif;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-size: cover;
  letter-spacing: 2px;
  font-size: 2.5em;
  margin-bottom: 1em;
}

#comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.com-user h3 {
  font-size: 14px;
}

#comment button {
  font-family: "Farsan", cursive;
  margin: 3px 0 1.5em 0;
  font-size: 1.3em;
  color: #7d7d7d;
}

#comment input {
  /* 	background: rgba(255, 13, 254, 0.90); */
  /* width: 210px; */
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: #eee;
  padding: 1em 2em;
  outline: none;
  border: none;
  color: #222;
  transition: 0.3s linear;
  margin-bottom: 0px;
}
::placeholder {
  color: #999;
}
#comment input:focus {
  background: rgba(0, 0, 333, 0.1);
}

#comment button {
  background-image: linear-gradient(
    to left,
    rgb(164, 142, 255) 0%,
    rgba(145, 149, 251, 0.86) 100%
  );
  box-shadow: 0 9px 25px -5px #df91fb;
  font-family: "Abel", sans-serif;
  padding: 0.5em 1.9em;
  margin: 1em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
}
#comment button:hover {
  transform: translatey(2px);
}
#comment button:active {
  transform: translatey(5px);
}

#list-comments {
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: #eee;
  padding: 1em 2em;
  outline: none;
  border: none;
  color: #4d4c4c;
  transition: 0.3s linear;
  margin-bottom: 0px;
  max-height: 100%;
  overflow-y: scroll;
  margin-bottom: 1vh;
}

.like-button {
  width: 100px;
}

.desc-game {
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.desc-game p {
  font-size: 10px;
}
/* --------------------- */

#game-board {
  float: left;
  padding: 20px 0px;
  position: relative;
}

.test-like {
  width: 100px;
  height: 100px;
  background-color: red;
}

.like {
  text-align: center;
  margin-top: 30em;
}

#phone3310 {
  position: absolute;
  z-index: 2;
  width: 722px;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
}

#game-over {
  z-index: 1;
  padding-left: 108px;
  height: 450px;
  position: relative;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #96d202;
}

#reload-button {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#reload-button:focus {
  outline: 0;
}

#reload-button:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#reload-button:hover:after {
  bottom: 2px;
  left: 2px;
}

.arrow-8 {
  width: 30px;
  height: 30px;
  display: flex;
  background: linear-gradient(currentColor 0 0) center/calc(100% - 30px) 10px,
    conic-gradient(
        from -136deg at right,
        #0000,
        currentColor 1deg 90deg,
        #0000 91deg
      )
      right/15px 100%,
    conic-gradient(
        from 44deg at left,
        #0000,
        currentColor 1deg 90deg,
        #0000 91deg
      )
      left / 15px 100%;
  background-repeat: no-repeat;
  animation: a8 2s;
  animation-iteration-count: 3;
}
.arrow-8:before {
  content: "";
  flex: 1;
  background: inherit;
  transform: rotate(90deg);
}

@keyframes a8 {
  90%,
  100% {
    width: 80px;
  }
}

.card {
  box-shadow: 10px 5px 5px black;
  background-color: rgb(26, 27, 40);
}
