


{{#each games}}

<a href="/game/{{this._id}}">Play to {{name}}</a>


{{/each}}

{{#if message}}
    <script>
        window.addEventListener('load', function () {
            window.alert('{{message}}');
        });
    </script>
{{/if}}