<div id="game-selection">
  {{#each games}}
    <div>

      <img src="{{this.logo}}" style="width: 582px; height: 284px" />
      <br />
      <a href="/game/{{this._id}}">Play to {{name}}</a>
    </div>
  {{/each}}
</div>

{{#if message}}
  <script>
    window.addEventListener('load', function () { window.alert('{{message}}');
    });
  </script>
{{/if}}