<p>All game will be displayed here, this page will be the index page of the website, everyone can see the games, but only loggedin user can play</p>



{{#each games}}

<a href="/games/{{_id}}">Play to {{name}}</a>

{{/each}}