<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Feeding Naruto</title>
  <link rel="icon" type="image/x-icon" href="/images/naruto-images/favicon.ico">
  <link rel="stylesheet" href="/stylesheets/stylenaruto.css">
</head>

<body>
  <!-- START SCREEN -->

   <div id="contour">
      <div class="side">
        <div class="img-logo">
          <img src="/images/snake-images/Logo.png" style="width: 100%;">
      </div>

      <div class="desc-game">
        <h1>SNAKE</h1>
        <p> <strong>Creator : </strong> Raphael Malet</p>
        <a class="lk-gt" target="_blank" href="https://github.com/cforestier"><strong>Github : </strong> Raphael Malet</a>
       
      </div>
      </div>
    <div class="contour">
  <div id="start-game">

    <button class="start-button">Start</button>

  </div>

  <!-- GAME SCREEN -->
  <canvas style="display: none;"></canvas>

  <!-- GAME OVER SCREEN -->
  <div id="game-over1">
    <h1>Game Over</h1>
    <p>Total of ramen eaten: <span id="points">40</span> Ramens!</p>
    <button class="restart-button">Eat Again</button>
  </div>

   </div>
  <div id="comment">
  <form id="comment-form" action="/game/{{game._id}}/comments" method="post">
    <div id="list-comments">
      Comments from other players:
      <div class="com-user">
        {{#each comments}}
        <h3>{{this.user.username}}</h3>
        <p>{{this.content}}</p>
        <hr>
        {{/each}}
      </div>
    </div>
    <div>
      <input type="text" name="content" placeholder="This game is great!" />
      <button type="submit">Add a comment</button>
    </div>
  </form>
</div>
    </div>

  <script src="/js/naruto/gameAudio.js"></script>
  <script src="/js/naruto/shape.js"></script>
  <script src="/js/naruto/fallingElement.js"></script>
  <script src="/js/naruto/naruto.js"></script>
  <script src="/js/naruto/script.js"></script>
</body>
{{#if message}}
<p>{{message}}</p>
{{/if}}
</html>