<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylesnake.css" />
    <title>Snake 2 Raphaël Malet</title>
  </head>
  <body>
    <div id="contour">
      <div class="side">
        <div class="img-logo">
          <img src="/images/snake-images/Logo.png" style="width: 100%;" />
        </div>
        <br />
        <p style="text-align: center; color: white; margin-top: 7em;"><strong
          >Creator : </strong>
          Raphael Malet</p>
        <br />
        <div class="desc-game">
          <h1 style="color: white">SNAKE</h1>
          <a
            style="text-align: center;"
            class="lk-gt"
            target="_blank"
            href="https://github.com/cforestier"
          ><strong>Github : </strong> Raphael Malet</a>

        </div>
        <div class="game-intro">
          {{! ajouter le logo du snake2 aux mêmes dimensions que le canvas et ajouter un onclick sur le bouton démarrer le jeu qui supprimera cette div }}
          <button id="start-button">Start your 3310!</button>
          <button id="reload-button">Reload the game</button>
        </div>
      </div>
      <div class="contour">
        {{! <div id="side">
      </div> }}
        <div id="game-board">
          <div id="game-over">
            <h1>Game Over</h1>
          </div>
          <!-- <canvas id="canvas" width="500" height="700"></canvas> -->
        </div>
        <div class="like">
          <form action="/game/{{game._id}}/like" method="post">
            <button
              class="like-button"
              name="like"
              value="1"
              type="submit"
            >Like</button>
          </form>
        </div>
      </div>
      <div id="comment">
        <form
          id="comment-form"
          action="/game/{{game._id}}/comments"
          method="post"
        >
          <div id="list-comments">
            Comments from other players:
            <div class="com-user">
              {{#each comments}}
                <h3>{{this.user.username}}</h3>
                <p>{{this.content}}</p>
                <hr />
              {{/each}}
            </div>
          </div>
          <div>
            <input
              type="text"
              name="content"
              placeholder="This game is great!"
            />
            <button type="submit">Add a comment</button>
          </div>
        </form>
      </div>
    </div>

    <script src="/js/snake/index.js"></script>
  </body>
</html>