{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
   <button>
    <a href="/editinfo">Edit user info</a>
  </button>
   <form action="/delete" method="POST">

   <button type="submit"> Delete the account </button>

</form>
{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}


