
<div class="container-fluid mt-3 pt-5 bg-danger">
  
</div>





 {{#if userInSession}}


   <button>
    <a href="/editinfo">Edit user info</a>
  </button>
   <form action="/delete" method="POST">

   <button type="submit"> Delete the account </button>

</form>
{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}



  <h2>Welcome, {{ userInSession.username }}!</h2> -->